
.card{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin-top: 40px;
}


.card-img img{
    width: 75px;
    height: 75px;
}

.card-body{
    /* border: 1px solid black; */
    width: 80%;
}

.card-title{
    font-weight: bold;
}

.card-description{
    color: rgba(128, 128, 128, 0.767);
}

.card-categories{
    /* border: 1px solid red; */
    color: rgba(128, 128, 128, 0.767);
    margin-top: 10px;
}

.card-categories ul{
    display: flex;
    padding-left: 10px;
}

.card-categories ul li{
    list-style: none;
    padding-right: 8px;
}